
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        Welcome to Product Application
        <br />
        @Html.ActionLink("NewProduct", "NewProduct", "Product") 
        @Html.ActionLink("Search", "Search", "Product")
    </div>
</body>
</html>
